* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    /* display: flex;
    justify-content: center; */
    font-size: 45px;
    padding-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 50px;
    width: 270px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
    margin-top: 150px;
    color: #212427;
    /* background-color: #005593; */
    background: rgb(180,217,254);
    background: linear-gradient(90deg, rgba(180,217,254,1) 0%, rgba(0,85,147,1) 100%);
    /* background-color: white; */
    width: 100%;
    height: 460px;
    /* opacity: 0.9; */
}

.about img {
    width: 609px;
    height: 400px;
}

.textabout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 35px;
    
}

.all-carparking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 30px;
   

}

.all-carparking img {
    width: 230px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-left: 15px;
}

.carparking2 {
    margin-top: 100px;

}

p1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    color: #212427;
    
}

.mission img {
    width: 650px;
    height: 400px;
}

.textmiss {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p8 {
    font-size: 45px;
    background: rgb(226,164,76);
    background: linear-gradient(90deg, rgba(226,164,76,1) 50%, rgba(225,96,40,1) 100%);
    padding: 10px;
    border-radius: 50px;
    width: 450px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

p2 {
    font-size: 27px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

p9 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
    color: #212427;

}

.member {
    margin-top: 50px;
}
.memberpic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    gap: 50px;
}

.memberpic img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 60px;
}


